@media (orientation: landscape) {
    head {
        background-color: #F0F0F0;
        width: 100%;
    }

    div#logo-image {
        display: grid;
        justify-content: center;
    }

    svg#logo {
        aspect-ratio: auto;
        height: 65px;
        fill: black;
        display: flex;
        align-items: flex-start;
        justify-self: center;
    }

    header {
        background-color: #FFFFFF;
    }

    body {
        background: radial-gradient(circle at top, #1f1f1f, #0f0f0f);
        margin: 0;
    }

    p {
        font-family: Vegur;
        font-weight: normal;
        font-size: 16px;
        color: #F0F0F0;
    }

    p>strong {
        font-family: Vegur;
        font-weight: bold;
        color: #F0F0F0;
    }

    a:link,
    a:visited,
    a:active {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    /*Color Selector*/
    form {
        background-color: #0F0F0F;
        border: 1px solid #F0F0F0;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 250px;
        margin: 25px auto;
        gap: 10px;
        flex-direction: column;
    }

    #input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #button-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    input[type="submit"] {
        width: fit-content;
        height: 39px;
        border-radius: 30px;
        background-color: #0F0F0F;
        color: #F0F0F0;
        font-size: 14px;
        text-align: center;
        border: 1px solid #F0F0F0;
        cursor: pointer;
    }

    button#randomizer {
        width: 90px;
        height: 39px;
        border-radius: 30px;
        background-color: #0F0F0F;
        color: #F0F0F0;
        font-size: 14px;
        text-align: center;
        border: 1px solid #F0F0F0;
        cursor: pointer;
    }

    input[type="text"] {
        width: 100px;
        height: 30px;
        border-radius: 30px;
        border: none;
        background-color: #0F0F0F;
        color: #F0F0F0;
        font-size: 14px;
        text-align: center;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    /*Main Color Pallette Styles*/
    #maincolorpalletteholder {
        display: none;
        border: 3px solid #F0F0F0;
        border-radius: 10px;
        max-width: 100%;
        margin: 25px auto;
        justify-content: center;
        width: fit-content;
        min-width: 90%;
    }

    .maincolorpallettebox {
        display: none;
        height: 150px;
        width: 9.0909090909%;
        border: 3px solid #F0F0F0;
        color: #F0F0F0;
        position: relative;
    }

    div.maincolorpallettebox#color0>span.hex,
    div.maincolorpallettebox#color1>span.hex,
    div.maincolorpallettebox#color2>span.hex,
    div.maincolorpallettebox#color3>span.hex,
    div.maincolorpallettebox#color4>span.hex,
    div.maincolorpallettebox#color5>span.hex,
    div.maincolorpallettebox#color6>span.hex,
    div.maincolorpallettebox#color7>span.hex {
        font-family: 'Vegur';
        font-size: 12px;
        display: block;
        margin: auto;
        width: fit-content;
        height: fit-content;
        color: #F0F0F0;
        margin-top: 32.125;
        padding: 0 2.5px;
    }

    div.maincolorpallettebox#color8>span.hex,
    div.maincolorpallettebox#color9>span.hex,
    div.maincolorpallettebox#color10>span.hex {
        font-family: 'Vegur';
        font-size: 12px;
        display: block;
        margin: auto;
        width: fit-content;
        height: fit-content;
        color: #0F0F0F;
        margin-top: 32.125;
        padding: 0 2.5px;
    }

    div.maincolorpallettebox.default#color0>span.hex,
    div.maincolorpallettebox.default#color1>span.hex,
    div.maincolorpallettebox.default#color2>span.hex,
    div.maincolorpallettebox.default#color3>span.hex,
    div.maincolorpallettebox.default#color4>span.hex,
    div.maincolorpallettebox.default#color5>span.hex,
    div.maincolorpallettebox.default#color6>span.hex,
    div.maincolorpallettebox.default#color7>span.hex {
        font-family: 'Vegur';
        font-weight: bold;
        font-size: 12px;
        display: block;
        margin: auto;
        width: fit-content;
        height: fit-content;
        margin-top: 32.125;
        padding: 0 2.5px;
    }

    div.maincolorpallettebox.default#color8>span.hex,
    div.maincolorpallettebox.default#color9>span.hex,
    div.maincolorpallettebox.default#color10>span.hex {
        font-family: 'Vegur';
        font-weight: bold;
        font-size: 12px;
        display: block;
        margin: auto;
        width: fit-content;
        height: fit-content;
        margin-top: 32.125;
        padding: 0 2.5px;
    }

    div.maincolorpallettebox>.hex.threedigitsupport {
        margin-top: 21.5 !important;
        white-space: pre-line;
        text-align: center;
    }

    div.maincolorpallettebox>.rgb {
        display: flex;
        background-color: #FFFFFF;
        font-size: 12px;
        font-family: 'Vegur';
        bottom: 0;
        width: 100%;
        height: fit-content;
        padding: 15px 0px;
        position: absolute;
        text-align: center;
        display: grid;
        line-height: 15px;
    }

    div.maincolorpallettebox>.r,
    div.maincolorpallettebox>.g,
    div.maincolorpallettebox>.b {
        display: block;
    }

    div.maincolorpallettebox>.rgb>.r {
        color: red;
    }

    div.maincolorpallettebox>.rgb>.g {
        color: green;
    }

    div.maincolorpallettebox>.rgb>.b {
        color: blue;
    }

    div.maincolorpallettebox.default>.rgb {
        font-weight: bold;

    }

    footer {
        align-items: flex-end;
        width: 100%;
        background-color: #F0F0F0;
        bottom: 0px;
        position: fixed;
        height: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    credits {
        bottom: 0;
        position: relative;
        text-align: center;
        font-family: 'Vegur';
        color: #0F0F0F;
        background-color: #F0F0F0;
        font-size: 12px;
        padding: 10px;
        text-decoration: none;
    }

    credits>a {
        text-decoration: none;
        color: inherit !important;
        text-decoration-color: #0F0F0F;
    }

    credits>a:hover {
        text-decoration: underline;
    }

    div#contrastcheckbox {
        display: none;
        border: 3px solid #F0F0F0;
        border-radius: 10px;
        margin: 25px auto;
        justify-content: center;
        width: fit-content;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        height: fit-content;
    }

    div#contrastcheckbox>div#contrastcontents>div#contrastwhite,
    div#contrastcheckbox>div#contrastcontents>div#contrastblack {
        display: flex;
        border: 3px solid #F0F0F0;
        flex-direction: column;
        min-height: 200px;
        height: fit-content;
    }

    div#contrastcheckbox>div#contrastcontents>div#contrastwhite {
        background-color: white;
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
        font-size: 150px;
        font-family: "Bebas Neue";
        text-align: center;
        justify-content: end;
        transition: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;
    }

    div#contrastcheckbox>div#contrastcontents>div#contrastblack {
        background-color: black;
        -webkit-text-stroke: 3px white;
        text-stroke: 3px white;
        font-size: 100px;
        font-family: "Bebas Neue";
        text-align: center;
        justify-content: center;
        transition: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;
    }

    div#contrastcheckbox>div#contrastcontents>div#contrastblack>span {
        font-size: 25;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
        display: block;
        transition: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;
    }

    div#contrastcheckbox>span#contrastchecktitle {
        padding: 10;
        font-family: "Vegur";
        text-align: center;
        background-color: #F0F0F0;
    }

    div#contrastcheckbox>div#contrastcontents>span#contrastcheckdescription {
        padding: 10;
        font-family: "Vegur";
        background-color: #F0F0F0;
        display: block;
    }

    div#contrastcheckbox>div#contrastcontents>span#contrastcheckcolorinfo {
        padding: 10;
        font-family: "Vegur";
        background-color: #F0F0F0;
        display: block;
    }

    div#contrastcheckbox>div#contrastcontents>span#contrastcheckcolorinfo>span#contrastcheckcolorcode {
        padding: 0;
        font-family: "Vegur";
        background-color: #F0F0F0;
        -webkit-text-stroke: 0.4px black;
        text-stroke: 0.4px black;
    }

    label.switch {
        background-color: #F0F0F0;
        margin: auto;
        margin-bottom: 5px;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .3s;
        transition: .3s;
    }

    .slider>#slidercircle {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .3s;
        transition: .3s;
    }

    input:checked+.slider {
        background-color: #6495ED;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #6495ED;
    }

    input:checked+.slider>#slidercircle {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round>#slidercircle {
        border-radius: 50%;
    }

    div#contrastoutlineswitch {
        background-color: #F0F0F0;
        margin: auto;
        width: 100%;
        padding-top: 5;
        padding-bottom: 5;
        justify-content: center;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    span#outlineswitchtitle {
        margin-bottom: 10;
        margin-top: 5;
        font-family: 'Vegur';
        font-size: 12;
    }
}

@media (orientation: portrait) {
    head {
        background-color: #F0F0F0;
        width: 100%;
    }

    div#logo-image {
        display: grid;
        justify-content: center;
    }

    svg#logo {
        aspect-ratio: auto;
        width: 500px;
        fill: black;
        display: flex;
        align-items: flex-start;
        justify-self: center;
    }

    header {
        background-color: #FFFFFF;
    }

    body {
        background: radial-gradient(circle at top, #1f1f1f, #0f0f0f);
        margin: 0;
    }

    p {
        font-family: Vegur;
        font-weight: normal;
        font-size: 25px;
        color: #F0F0F0;
    }

    p>strong {
        font-family: Vegur;
        font-weight: bold;
        color: #F0F0F0;
    }

    a:link,
    a:visited,
    a:active {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    /*Color Selector*/
    form {
        background-color: #0F0F0F;
        border: 3px solid #F0F0F0;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        gap: 10px;
        flex-direction: column;
    }

    #button-container {
        width: 95%;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    input[type="submit"] {
        width: 49%;
        height: 75px;
        border-radius: 30px;
        background-color: #0F0F0F;
        color: #F0F0F0;
        font-size: 28px;
        text-align: center;
        border: 1px solid #F0F0F0;
        cursor: pointer;
    }

    button#randomizer {
        width: 49%;
        height: 75px;
        border-radius: 30px;
        background-color: #0F0F0F;
        color: #F0F0F0;
        font-size: 14px;
        text-align: center;
        border: 1px solid #F0F0F0;
        cursor: pointer;
    }

    input[type="text"] {
        width: 90%;
        height: 75px;
        border-radius: 30px;
        border: none;
        background-color: #0F0F0F;
        color: #F0F0F0;
        font-size: 32px;
        text-align: center;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    /*Main Color Pallette Styles*/
    #maincolorpalletteholder {
        display: none;
        border: 3px solid #F0F0F0;
        border-radius: 10px;
        max-width: 100%;
        margin: 25px auto;
        justify-content: center;
        width: fit-content;
        min-width: 90%;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
    }

    .maincolorpallettebox {
        display: flex;
        height: 100px;
        border: 3px solid #F0F0F0;
        color: #F0F0F0;
        position: relative;
        flex-direction: column;
    }

    div.maincolorpallettebox#color0>span.hex,
    div.maincolorpallettebox#color1>span.hex,
    div.maincolorpallettebox#color2>span.hex,
    div.maincolorpallettebox#color3>span.hex,
    div.maincolorpallettebox#color4>span.hex,
    div.maincolorpallettebox#color5>span.hex,
    div.maincolorpallettebox#color6>span.hex,
    div.maincolorpallettebox#color7>span.hex {
        font-family: 'Vegur';
        font-size: 24px;
        display: block;
        margin: auto;
        width: fit-content;
        height: fit-content;
        color: #F0F0F0;
        margin-right: 20%;
        padding: 0;
    }

    div.maincolorpallettebox#color8>span.hex,
    div.maincolorpallettebox#color9>span.hex,
    div.maincolorpallettebox#color10>span.hex {
        font-family: 'Vegur';
        font-size: 24px;
        display: block;
        margin: auto;
        width: fit-content;
        height: fit-content;
        color: #0F0F0F;
        margin-right: 20%;
        padding: 0;
    }

    div.maincolorpallettebox.default#color0>span.hex,
    div.maincolorpallettebox.default#color1>span.hex,
    div.maincolorpallettebox.default#color2>span.hex,
    div.maincolorpallettebox.default#color3>span.hex,
    div.maincolorpallettebox.default#color4>span.hex,
    div.maincolorpallettebox.default#color5>span.hex,
    div.maincolorpallettebox.default#color6>span.hex,
    div.maincolorpallettebox.default#color7>span.hex {
        font-family: 'Vegur';
        font-weight: bold;
        font-size: 24px;
        display: block;
        margin: auto;
        width: fit-content;
        height: fit-content;
        margin-right: 19%;
        padding: 0;
    }

    div.maincolorpallettebox.default#color8>span.hex,
    div.maincolorpallettebox.default#color9>span.hex,
    div.maincolorpallettebox.default#color10>span.hex {
        font-family: 'Vegur';
        font-weight: bold;
        font-size: 24px;
        display: block;
        margin: auto;
        width: fit-content;
        height: fit-content;
        margin-right: 19%;
        padding: 0;
    }

    div.maincolorpallettebox>.rgb {
        display: block;
        background-color: #FFFFFF;
        font-size: 24px;
        font-family: 'Vegur';
        bottom: 0;
        left: 0;
        width: 50%;
        height: 70%;
        padding: 15px 0px;
        position: absolute;
        text-align: center;
        align-items: center;
        display: flex;
        line-height: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    div.maincolorpallettebox>.hex.threedigitsupport {
        margin-top: 16 !important;
        white-space: pre-line;
        text-align: center;
    }

    div.maincolorpallettebox>.r,
    div.maincolorpallettebox>.g,
    div.maincolorpallettebox>.b {
        display: block;
    }

    div.maincolorpallettebox>.rgb>.r {
        color: red;
    }

    div.maincolorpallettebox>.rgb>.g {
        color: green;
    }

    div.maincolorpallettebox>.rgb>.b {
        color: blue;
    }

    div.maincolorpallettebox.default>.rgb {
        font-weight: bold;

    }

    footer {
        align-items: flex-end;
        width: 102%;
        background-color: #F0F0F0;
        bottom: 0px;
        position: fixed;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        left: 0;
        right: 0;
    }

    credits {
        bottom: 0;
        position: relative;
        text-align: center;
        font-family: 'Vegur';
        color: #0F0F0F;
        background-color: #F0F0F0;
        font-size: 24px;
        padding: 10px;
        text-decoration: none;
        margin: 0;
        right: 0;
    }

    credits>a {
        text-decoration: none;
        color: inherit !important;
        text-decoration-color: #0F0F0F;
    }

    credits>a:hover {
        text-decoration: underline;
    }

    div#contrastcheckbox {
        display: none;
        border: 3px solid #F0F0F0;
        border-radius: 10px;
        margin: 25px auto;
        justify-content: center;
        width: fit-content;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        height: fit-content;
    }

    div#contrastcheckbox>div#contrastcontents>div#contrastwhite,
    div#contrastcheckbox>div#contrastcontents>div#contrastblack {
        display: flex;
        border: 3px solid #F0F0F0;
        flex-direction: column;
        min-height: 200px;
        height: fit-content;
    }

    div#contrastcheckbox>div#contrastcontents>div#contrastwhite {
        background-color: white;
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
        font-size: 150px;
        font-family: "Bebas Neue";
        text-align: center;
        justify-content: end;
        transition: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;
    }

    div#contrastcheckbox>div#contrastcontents>div#contrastblack {
        background-color: black;
        -webkit-text-stroke: 3px white;
        text-stroke: 3px white;
        font-size: 93px;
        font-family: "Bebas Neue";
        text-align: center;
        justify-content: center;
        transition: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;
    }

    div#contrastcheckbox>div#contrastcontents>div#contrastblack>span {
        font-size: 40;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
        display: block;
        transition: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;
    }

    div#contrastcheckbox>span#contrastchecktitle {
        padding: 10;
        font-family: "Vegur";
        text-align: center;
        background-color: #F0F0F0;
    }

    div#contrastcheckbox>div#contrastcontents>span#contrastcheckdescription {
        padding: 10;
        font-family: "Vegur";
        background-color: #F0F0F0;
        display: block;
        font-size: 10;
    }

    div#contrastcheckbox>div#contrastcontents>span#contrastcheckcolorinfo {
        padding: 10;
        font-family: "Vegur";
        background-color: #F0F0F0;
        display: block;
        font-size: 10;
    }

    div#contrastcheckbox>div#contrastcontents>span#contrastcheckcolorinfo>span#contrastcheckcolorcode {
        padding: 0;
        font-family: "Vegur";
        background-color: #F0F0F0;
        -webkit-text-stroke: 0.4px black;
        text-stroke: 0.4px black;
    }

    label.switch {
        background-color: #F0F0F0;
        margin: auto;
        margin-bottom: 5px;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .3s;
        transition: .3s;
    }

    .slider>#slidercircle {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .3s;
        transition: .3s;
    }

    input:checked+.slider {
        background-color: #6495ED;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #6495ED;
    }

    input:checked+.slider>#slidercircle {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round>#slidercircle {
        border-radius: 50%;
    }

    div#contrastoutlineswitch {
        background-color: #F0F0F0;
        margin: auto;
        width: 100%;
        padding-top: 5;
        padding-bottom: 5;
        justify-content: center;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    span#outlineswitchtitle {
        margin-bottom: 10;
        margin-top: 5;
        font-family: 'Vegur';
        font-size: 28;
    }
}

button#colonamescheckbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 75px;
    border-radius: 30px;
    border: white 5px;
    font-size: 14px;
    text-align: center;
    font-family: "Vegur";
    margin: 10 auto;
    fill: var(--accentColor);
    color: var(--accentColor);
    background-color: #595959;
    overflow: hidden;
}

button#colonamescheckbutton[disabled] {
    height: 75px;
    transition: opacity 1s ease-in-out;
    opacity: 50%;
}

button#colonamescheckbutton:not([disabled]) {
    height: 75px;
    transition: opacity 1s ease-in-out;
}

button#colonamescheckbutton span#colorsmatchlistCOLONAMES {
    display: block;
    transform: translateY(12.5px);
    font-family: "Vegur";
}

html {
    overflow-x: hidden;
}