head {
    background-color: #F0F0F0;
    width: 100%;
}

div#logo-image {
    display: grid;
}

img#logo {
    aspect-ratio: auto;
    height: 65px;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-self: center;
}
